<article class="project-card card" [style.--card-accent]="project.accent">
  <div class="project-card__top">
    <span class="project-card__badge" aria-hidden="true">
      {{ project.name.charAt(0) }}
    </span>
    <ul class="project-card__tags">
      <li *ngFor="let tag of project.tags" class="chip">{{ tag }}</li>
    </ul>
  </div>

  <h3 class="project-card__title">
    <a [routerLink]="['/projects', project.slug]">{{ project.name }}</a>
  </h3>

  <p class="project-card__meta">
    {{ project.role }}<ng-container *ngIf="project.company">
      · {{ project.company }}</ng-container
    >
    · {{ project.period }}
  </p>

  <p class="project-card__summary">{{ project.summary }}</p>

  <ul class="project-card__stack">
    <li *ngFor="let tech of project.stack" class="project-card__tech">
      {{ tech }}
    </li>
  </ul>

  <a class="project-card__link" [routerLink]="['/projects', project.slug]">
    Ver caso de estudio
    <app-icon name="arrow-right" [size]="16"></app-icon>
  </a>
</article>
